/* src/Styles/Dashboard.css */

.dashboard {
  margin-top: 10%; /* Adjust for the height of the navbar */
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh; /* Ensure the dashboard takes full height */
  overflow: hidden; /* Prevents overflow of the dashboard container */
}

.calendar-container, .map-container, .performance-analytics, .health-monitoring, .training-progress {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1; /* Ensure the containers take available space */
  max-width: 100%; /* Make sure they don't exceed the container */
  overflow: auto; /* Make sure these elements are scrollable if content overflows */
  min-height: 90vh; /* Ensure the dashboard takes full height */
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: darkblue;
  margin-bottom: 10px;
}

.map-container, .calendar-container {
  height: 600px;
  width: 100%;
}

.map-container {
  position: relative;
}

.performance-analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.performance-analytics .chart-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.performance-analytics .chart-wrapper {
  width: 48%; /* Ensures the two charts are side by side with some space in between */
}

.performance-analytics .chart-wrapper canvas {
  width: 100% !important;
  height: 500px !important; /* Increase the height of the charts */
}

.analytics-details {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* Additional responsive design adjustments */
@media (max-width: 768px) {
  .dashboard {
    margin-top: 20px;
    flex-direction: column;
  }

  .calendar-container, .map-container, .performance-analytics, .health-monitoring, .training-progress {
    width: 95%;
    padding: 15px;
  }

  h1, h2 {
    margin-left: 10px;
  }

  .performance-analytics .chart-container {
    flex-direction: column;
  }

  .performance-analytics .chart-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Sidebar Styles */
.sidebar {
  width: 15%;
  height: calc(100vh - 10%); /* Full height of the viewport minus the navbar height */
  background-color: #f4f4f4;
  padding: 15px;
  position: fixed;
  top: 10%; /* Start below the navbar */
  left: 0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.content {
  margin-left: 15%; /* Width of the sidebar */
  padding: 20px;
  width: 85%; /* Remaining width */
  margin-top: 10%; /* Ensure content is pushed down below the navbar */
  overflow-y: auto; /* Ensure content is scrollable */
}
