/* src/Styles/Dashboard.css */
.dashboard {
  margin-top: 60px; /* Adjust for the height of the navbar */
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.calendar-container, .map-container, .performance-analytics, .health-monitoring, .training-progress {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 100%;
  overflow: auto;
  min-height: 90vh;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: darkblue;
  margin-bottom: 10px;
}

.map-container, .calendar-container {
  height: 600px;
  width: 100%;
}

.map-container {
  position: relative;
}

.performance-analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.performance-analytics .chart-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.performance-analytics .chart-wrapper {
  width: 48%;
}

.performance-analytics .chart-wrapper canvas {
  width: 100% !important;
  height: 500px !important;
}

.analytics-details {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .dashboard {
    margin-top: 60px;
    flex-direction: column;
  }

  .calendar-container, .map-container, .performance-analytics, .health-monitoring, .training-progress {
    width: 95%;
    padding: 15px;
  }

  h1, h2 {
    margin-left: 10px;
  }

  .performance-analytics .chart-container {
    flex-direction: column;
  }

  .performance-analytics .chart-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}

.sidebar {
  width: 15%;
  height: calc(100vh - 60px);
  background-color: #f4f4f4;
  padding: 15px;
  position: fixed;
  top: 60px;
  left: 0;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.content {
  margin-left: 15%;
  padding: 20px;
  width: 85%;
  margin-top: 60px;
  overflow-y: auto;
}
